
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: ubuntu-latest

    steps:  
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t ${{secrets.REGISTRY_USER}}/my-portfolio .
      - name: push images
        run: |
          docker login -u ${{secrets.REGISTRY_USER}} -p ${{secrets.REGISTRY_PASS}}
          docker push ${{secrets.REGISTRY_USER}}/my-portfolio
