
name: CI

on:
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  
  workflow_dispatch:

jobs:
  
  build:
    
    runs-on: ubuntu-latest

    steps:  
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t annettefleur2015/my-porfolio .

      
      - name: push images
        run: |
          docker login -u annettefleur2015 -p ${{secrets.REGISTRY_PASS}}
          docker push annettefleur2015/my-portfolio
          
